langchain
streamlit
transformers
torch
einops
bitsandbytes
accelerate
pdfminer.six
bs4
sentence_transformers
duckdb
chromadb
beautifulsoup4
sentence-transformers
sentencepiece
six
requests
uvicorn
torch
torchvision
streamlit-chat
